<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">All articles belong to 
            <a href="https://www.nytimes.com/">
                The New York Times
            </a>
            |
            <a href="/api/articles">
                Article JSON
            </a>
        </span>
    </div>
  </footer>