<nav class="navbar navbar-light bg-light">
    <a href="/" class=" navbar-brand">
        <img src="../../../public/images/nytimes-learningnetwork.jpg">
    </a>
  <li><a href="/scrape">Scrape</a></li>
  <li><a href="https://github.com/dderrickmatheww/ScraperHW">GitHub Repo</a></li>
</nav>