<nav class="navbar navbar-light bg-light mb-5">
  <li><a href="/">Home</a></li>
  <li><a href="/scrape">Scrape</a></li>
    <li><a href="/clearAll">Clear all</a></li>
  <li><a href="https://github.com/dderrickmatheww/ScraperHW">GitHub Repo</a></li>
</nav>